<config template="project (default)" platform="project">Created: Thu Aug 21 16:26:05 2014
By: Dan
Using Template: project (default)

&lt;description to go here><option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="BlockBattle"/>
    <option name="caption" fromDef="true" value="BlockBattle"/>
    <option name="provider" fromDef="true" value="leestott"/>
    <option name="copyright" fromDef="true" value="(C) leestott"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
</config>
