<config template="wp8 (default)" platform="wp8">Created: Wed Aug 27 15:27:06 2014
By: Dan
Using Template: wp8 (default)

&lt;description to go here><option name="wp8-author" fromDef="true" value=""/>
    <option name="wp8-publisher-id" fromDef="true" value=""/>
    <option name="wp8-description" fromDef="true" value=""/>
    <option name="wp8-product-id" fromDef="true" value=""/>
    <option name="wp8-exclude-wvga" fromDef="true" value=""/>
    <option name="wp8-exclude-wxga" fromDef="true" value=""/>
    <option name="wp8-exclude-720p" fromDef="true" value=""/>
    <option name="wp8-higher-mem" fromDef="true" value=""/>
    <option name="wp8-exclude-low-mem" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="BlockBattle"/>
    <option name="caption" fromDef="true" value="BlockBattle"/>
    <option name="provider" fromDef="true" value="leestott"/>
    <option name="copyright" fromDef="true" value="(C) leestott"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-title" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-back-title" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-back-content" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-small-image" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-medium-front-image" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-medium-back-image" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-supports-large" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-large-front-image" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-large-back-image" fromDef="true" value=""/>
    <option name="wp8-tile-fliptemplate-large-back-content" fromDef="true" value=""/>
    <option name="wp8-extra-res" fromDef="true" value=""/>
    <option name="wp8-custom-manifest" fromDef="true" value=""/>
    <option name="wp8-custom-manifest-fill" fromDef="true" value=""/>
    <option name="wp8-genre-isgame" fromDef="true" value=""/>
    <option name="wp8-ext-capabilities" fromDef="true" value=""/>
    <option name="wp8-fast-resume-mode" fromDef="true" value=""/>
</config>
