<config template="ws81 (default)" platform="ws81">Created: Wed Aug 27 19:24:06 2014
By: Dan
Using Template: ws81 (default)

&lt;description to go here><option name="ws81-publisher-display-name" fromDef="true" value=""/>
    <option name="ws81-publisher-id" fromDef="true" value=""/>
    <option name="ws81-identity-name" fromDef="true" value=""/>
    <option name="ws81-description" fromDef="true" value=""/>
    <option name="ws81-product-version" fromDef="true" value=""/>
    <option name="ws81-product-name" fromDef="true" value=""/>
    <option name="ws81-custom-manifest" fromDef="true" value=""/>
    <option name="ws81-custom-manifest-fill" fromDef="true" value=""/>
    <option name="ws81-logo-image150x150" fromDef="true" value=""/>
    <option name="ws81-logo-image50x50" fromDef="true" value=""/>
    <option name="ws81-logo-image30x30" fromDef="true" value=""/>
    <option name="ws81-splash-screen-image620x300" fromDef="true" value=""/>
    <option name="ws81-splash-screen-background" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="BlockBattle"/>
    <option name="caption" fromDef="true" value="BlockBattle"/>
    <option name="provider" fromDef="true" value="leestott"/>
    <option name="copyright" fromDef="true" value="(C) leestott"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="ws81-distribution-cer" fromDef="true" value=""/>
    <option name="ws81-certificate-end-date" fromDef="true" value=""/>
    <option name="ws81-distribution-pfx" fromDef="true" value=""/>
    <option name="ws81-distribution-pfx-password" fromDef="true" value=""/>
    <option name="ws81-extra-res" fromDef="true" value=""/>
    <option name="ws81-ext-capabilities" fromDef="true" value=""/>
    <option name="ws81-ext-device-capabilities" fromDef="true" value=""/>
</config>
